name: CI

on:
  push:

defaults:
  run:
    working-directory: backend

jobs:
  format:
    runs-on: ubuntu-latest
    container: elixir:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Hex
        run: mix local.hex --force
      - name: Install Rebar
        run: mix local.rebar --force
      - name: Install dependencies
        run: mix deps.get
      - name: Check formatting
        run: mix format --check-formatted

  lint:
    runs-on: ubuntu-latest
    container: elixir:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Hex
        run: mix local.hex --force
      - name: Install Rebar
        run: mix local.rebar --force
      - name: Install dependencies
        run: mix deps.get
      - name: Run Credo
        run: mix credo

  test:
    runs-on: ubuntu-latest
    container: elixir:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Hex
        run: mix local.hex --force
      - name: Install Rebar
        run: mix local.rebar --force
      - name: Install dependencies
        run: mix deps.get
      - name: Run tests
        run: mix test
